<% if not user_signed_in? %>
    <h1>Welcome to PokéLibrary!</h1>
    Please, log in with your Facebook account to continue

<% else %>


    <div id="party">

    </div>
    <div id="box">

      <% Box.find_each do |box| %>
            <a href="#"><%= box.name %></a>
      <% end %>
      <br/>
      <br/>
      <% current_user.boxes.first.pokemons.all.each do |pkm| %>
        <%= pkm.name %>
          <br/>
      <% end %>

    </div>
<% end %>

