<% if not user_signed_in? %>
    <h1>Welcome to PokéLibrary!</h1>
    Please, log in with your Facebook account to continue

<% else %>


    <div id="party">

    </div>
    <div id="box">
        <%= render partial: 'boxes/box' %>
    </div>
<% end %>

