<div id="pokemons">
  <input class="search form-control" placeholder="Search"/>

  <ul class="list" style="list-style: none; padding:0; margin:0;">
    <% PokemonDefault.where(forme: nil).each do |pokemon| %>
        <li>
          <%= image_tag 'miniaturePokemon/'+pokemon.code+'.png' %>
          <span class="name"><%= pokemon.name %></span>
        </li>
    <% end %>
  </ul>
</div>
</div>
