// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#box {
  position: relative;
  float: right;
  height: 100%;
  width: 50%;
  border: 0px solid #000000;
  border-left-width: 1px;
}

#party {
  position: relative;
  float: left;
  height: 100%;
  width: 50%;
  border: 0px solid #000000;
  border-right-width: 1px;
  overflow-y: auto;
}

