// Place all the styles related to the pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lista{
  bottom: 0px;
  height: 400px;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  z-index: 2;
}

#sup_form{

}

